<nav id="sidebar" class="sidebar" aria-label="Table of contents">
    <div class="sidebar-scrollbox">
    {{#toc}}{{/toc}}

        <ol class="chapter">
            <li class="chapter-item expanded "><a href="https://beian.miit.gov.cn/" target="_blank">鄂ICP备2024035370号-1</a></li>
        </ol>

    </div>
    <div id="sidebar-resize-handle" class="sidebar-resize-handle"></div>
</nav>